<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60816582864-nl7erfj5ocg8crp4pv2qmnp63ts1r33h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60816582864-nl7erfj5ocg8crp4pv2qmnp63ts1r33h</string>
	<key>API_KEY</key>
	<string>AIzaSyAEjRC1xAsPUJu1qDFbs1jT5Xd0XSA6TXE</string>
	<key>GCM_SENDER_ID</key>
	<string>60816582864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FanAppV1.FanFicApp</string>
	<key>PROJECT_ID</key>
	<string>fanapp-1a775</string>
	<key>STORAGE_BUCKET</key>
	<string>fanapp-1a775.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60816582864:ios:8ea74c88f82fe09fef16d5</string>
</dict>
</plist>